/* Rectangle 1 */

.fon1 {/* Rectangle 2967 */


position: absolute;
width: 1030px;
height: 540px;
left: 445px;
top: 100px;

background: #D9D9D9;




}

.fon2 {
box-sizing: border-box;

position: absolute;
width: 1030px;
height: 540px;
left: 445px;
top: 100px;

background: rgba(255, 255, 255, 0.01);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(22.5px);
/* Note: backdrop-filter has minimal browser support */
}


.fo3 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 423px;

background: #447EF7;
}

.fo22 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 208px;

background: #447EF7;
}

.fo1 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 352px;

background: #447EF7;
}



.alt1 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 352px;
}

.alt2 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 208px;
}


.alt3 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 423px;
}


.alt4 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 496px;
}


.alt5 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 279px;
}






.alt6 {position: absolute;
width: 42px;
height: 42px;
left: 1180px;
top: 352px;
}

.alt7 {position: absolute;
width: 42px;
height: 42px;
left: 1180px;
top: 208px;
}


.alt8 {position: absolute;
width: 42px;
height: 42px;
left: 1180px;
top: 423px;
}


.alt9 {position: absolute;
width: 42px;
height: 42px;
left: 1180px;
top: 496px;
}


.alt10 {position: absolute;
width: 42px;
height: 42px;
left: 1180px;
top: 279px;
}





.fo4 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 496px;

background: #447EF7;
}

.fo5 {position: absolute;
width: 42px;
height: 42px;
left: 880px;
top: 279px;

background: #447EF7;
}


input {
  text-align: center;
}


.fo2 {/* Intersect */

position: absolute;
width: 16px;
height: 16px;
left: 893px;
top: 436px;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;
}



.t1 {
position: absolute;
width: 1030px;
height: 540px;
left: 445px;
top: 100px;

background: #D9D9D9;
}


.x {
position: absolute;
width: 44.16px;
height: 44px;
left: 1411px;
top: 122px;

background: #D9D9D9;
}



.box2 {
box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 1175px;
top: 202px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}


.box3 {
box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 875px;
top: 274px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}




.box4 {box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 1175px;
top: 274px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}

.box5 {box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 875px;
top: 346px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}


.box6 {

box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 1175px;
top: 346px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}





.box7 {
box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 875px;
top: 418px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}

.box8 {box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 1175px;
top: 418px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}

.box9 {box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 875px;
top: 490px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}

.box10 {box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 1175px;
top: 490px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}









.cr {
position: absolute;
width: 280px;
height: 52px;
left: 1025px;
top: 562px;
}

.c1  {
position: absolute;
width: 1030px;
height: 540px;
left: 445px;
top: 100px;

background: #D9D9D9;
}

.flex-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
}

.first {
  background: red;
  height: 300px;
  flex-grow: 5;
}

.second {
  background: green;
  height: 300px;
  flex-grow: 3;
}


.box1 {
/* Rectangle 2968 */

box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 875px;
top: 202px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
/* Note: backdrop-filter has minimal browser support */
}

.box1b {
box-sizing: border-box;

position: absolute;
width: 304px;
height: 52px;
left: 988px;
top: 202px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}

.box2b {
/* Rectangle 2968 */

box-sizing: border-box;

position: absolute;
width: 304px;
height: 52px;
left: 988px;
top: 274px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
/* Note: backdrop-filter has minimal browser support */
}



.line1 {/* Line 6 */

position: absolute;
width: 538px;
height: 0px;
left: 570px;
top: 370px;

opacity: 0.15;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
}

.registration {
position: absolute;
width: 142px;
height: 44px;
left: 1175px;
top: 122px;
}

.login   {
position: absolute;
width: 142px;
height: 44px;
left: 1013px;
top: 122px;
}

.form {
box-sizing: border-box;

position: absolute;
width: 280px;
height: 52px;
left: 875px;
top: 202px;

background: rgba(30, 34, 52, 0.65);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(27.5px);
}



.im1 {
 position: relative;
width: 1920px;
height: 1917px;
 
  
 position: absolute;
width: 283.81px;
height: 304.92px;
left: 469px;
top: 334.08px;
}

.im2 {
position: absolute;
width: 156px;
height: 100px;
left: 696.9px;
top: 306px;

background: url(Group 173.png);
transform: rotate(20.42deg);
}



.im3 {
position: absolute;
width: 252px;
height: 180px;
left: 536px;
top: 115px;
}


.im11 {
position: absolute;
width: 374.09px;
height: 524px;
left: 469px;
top: 115px;
}




.w1 {
position: absolute;
width: 252px;
height: 180px;
left: 536px;
top: 115px;

font-family: 'Edit Undo BRK';
font-style: normal;
font-weight: 400;
font-size: 67px;
line-height: 60px;

color: #00000;
}



.search {

   background: url(incl/11.png) no-repeat;
}