.security-form__block {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  padding: 6px;
  background: rgba(30, 34, 52, 0.65);
}

.security-form__item {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .security-form__item {
    flex-wrap: wrap;
  }
}

.security-form__text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #FFFFFF;
  margin-left: 1.5rem;
}
@media (max-width: 768px) {
  .security-form__text {
    font-size: 1.2rem;
  }
}

.security-form__bottom-btn {
  flex: 1 1 30%;
  margin-top: -2.8rem;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .security-form__bottom-btn {
    flex: 1 1 60%;
  }
}
@media (max-width: 480px) {
  .security-form__bottom-btn {
    flex: 1 1 100%;
    margin-top: 1rem;
  }
}

.secturity__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.secturity__top-content {
  max-width: 353px;
  margin: auto;
}

.secturity__middle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4rem 0;
}

.secturity__middle-content {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .secturity__middle-content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }
}

.verif-block__qr {
  width: 25%;
}
.verif-block__qr img {
  width: 100%;
}

.verif-block__content {
  width: 60%;
}
@media (max-width: 480px) {
  .verif-block__content {
    width: 100%;
  }
}

.secturity__bottom {
  padding: 4rem 0;
  max-width: 480px;
  margin: auto;
}

.secturity__bottom-block {
  fleX: 1 1 100%;
}

.secturity-control {
  letter-spacing: 4rem;
}
@media (max-width: 480px) {
  .secturity-control {
    letter-spacing: 2rem;
  }
}

@media (max-width: 480px) {
  .secturity-label {
    font-size: 0.7rem;
  }
}
@media (max-width: 350px) {
  .secturity-label {
    font-size: 0.6rem;
  }
}

.security-copy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}
@media (max-width: 1242px) {
  .security-copy {
    width: 2rem;
  }
  .security-copy img {
    width: 100%;
  }
}