.slots__body {
  position: relative;
  width: 100%;
  margin-inline: auto;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  margin-top: 50px;
  -webkit-clip-path: polygon(0% 3.3%, 0.6% 3.3%, 0.6% 2.24%, 1.27% 2.24%, 1.27% 1.12%, 1.91% 1.12%, 1.91% 0%, 98% 0%, 98% 1.12%, 98.73% 1.12%, 98.73% 2.24%, 99.4% 2.24%, 99.4% 3.3%, 100% 3.3%, 100% 96.7%, 99.4% 96.7%, 99.4% 97.76%, 98.73% 97.76%, 98.73% 98.88%, 98% 98.88%, 98% 100%, 1.91% 100%, 1.91% 98.88%, 1.27% 98.88%, 1.27% 97.76%, 0.6% 97.76%, 0.6% 96.7%, 0% 96.7%);
          clip-path: polygon(0% 3.3%, 0.6% 3.3%, 0.6% 2.24%, 1.27% 2.24%, 1.27% 1.12%, 1.91% 1.12%, 1.91% 0%, 98% 0%, 98% 1.12%, 98.73% 1.12%, 98.73% 2.24%, 99.4% 2.24%, 99.4% 3.3%, 100% 3.3%, 100% 96.7%, 99.4% 96.7%, 99.4% 97.76%, 98.73% 97.76%, 98.73% 98.88%, 98% 98.88%, 98% 100%, 1.91% 100%, 1.91% 98.88%, 1.27% 98.88%, 1.27% 97.76%, 0.6% 97.76%, 0.6% 96.7%, 0% 96.7%);
  padding-bottom: 2.9rem;
}

.slots__content {
  width: 95%;
  margin: auto;
}

.slots__header {
  text-align: center;
  padding: 4.6rem 0;
  font-family: "Edit Undo BRK";
  font-size: 2.8rem;
  text-align: center;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.slots__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.slots__item {
  flex: 0 1 16%;
  margin-bottom: 1.5rem;
}
@media (max-width: 1500px) {
  .slots__item {
    flex: 0 1 24%;
  }
}
@media (max-width: 992px) {
  .slots__item {
    flex: 0 1 32%;
  }
}
@media (max-width: 768px) {
  .slots__item {
    flex: 0 1 49%;
  }
}
@media (max-width: 480px) {
  .slots__item {
    flex: 1 1 100%;
  }
}

.slots__image {
  width: 100%;
}
.slots__btn {
  max-width: 160px;
  margin: auto;
}
.slots__btn .header-block__button {
  background: linear-gradient(270deg, #3856E4 0%, #447EF7 100%);
}