.verif-block__body {
  background: rgba(30, 34, 52, 0.65);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  padding: 4rem 5rem;
  -webkit-clip-path: polygon(0% 3.3%, 0.6% 3.3%, 0.6% 2.24%, 1.27% 2.24%, 1.27% 1.12%, 1.91% 1.12%, 1.91% 0%, 98% 0%, 98% 1.12%, 98.73% 1.12%, 98.73% 2.24%, 99.4% 2.24%, 99.4% 3.3%, 100% 3.3%, 100% 96.7%, 99.4% 96.7%, 99.4% 97.76%, 98.73% 97.76%, 98.73% 98.88%, 98% 98.88%, 98% 100%, 1.91% 100%, 1.91% 98.88%, 1.27% 98.88%, 1.27% 97.76%, 0.6% 97.76%, 0.6% 96.7%, 0% 96.7%);
          clip-path: polygon(0% 3.3%, 0.6% 3.3%, 0.6% 2.24%, 1.27% 2.24%, 1.27% 1.12%, 1.91% 1.12%, 1.91% 0%, 98% 0%, 98% 1.12%, 98.73% 1.12%, 98.73% 2.24%, 99.4% 2.24%, 99.4% 3.3%, 100% 3.3%, 100% 96.7%, 99.4% 96.7%, 99.4% 97.76%, 98.73% 97.76%, 98.73% 98.88%, 98% 98.88%, 98% 100%, 1.91% 100%, 1.91% 98.88%, 1.27% 98.88%, 1.27% 97.76%, 0.6% 97.76%, 0.6% 96.7%, 0% 96.7%);
}
@media (max-width: 650px) {
  .verif-block__body {
    padding: 4rem 1rem;
  }
}

.verif-block__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1.5rem;
  margin-bottom: 2.4rem;
  position: relative;
}
.verif-block__header:before {
  content: "";
  width: 80%;
  height: 5px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 480px) {
  .verif-block__header:before {
    width: 60%;
    left: 55%;
  }
}
.verif-block__header:after {
  content: "";
  width: 30%;
  height: 5px;
  background: #447EF7;
  position: absolute;
  top: 1.5rem;
  left: 10%;
}
@media (max-width: 480px) {
  .verif-block__header:after {
    left: 15%;
  }
}

.verif-block__header-item:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.verif-block__header-text {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #FFFFFF;
  margin-top: 1rem;
}

.verif-block__content {
  width: 90%;
  margin: auto;
}
@media (max-width: 1330px) {
  .verif-block__content {
    width: 100%;
  }
}

.verif-block__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 650px) {
  .verif-block__title {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .verif-block__title {
    font-size: 1.3rem;
  }
}

.verif-block__text {
  font-size: 1.4rem;
  line-height: 180%;
  text-align: center;
  color: #929DC0;
  margin: 2.5rem 0 2rem;
}
.verif-block__text--align {
  text-align: left;
}
@media (max-width: 650px) {
  .verif-block__text {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .verif-block__text {
    font-size: 1.1rem;
  }
}

.verif-block__input {
  margin-top: 3.6rem;
  display: flex;
  margin-bottom: 3.2rem;
}
.verif-block__input input {
  display: none;
}

@media (max-width: 480px) {
  .verif-block__input-icon {
    width: 4rem;
  }
  .verif-block__input-icon img {
    width: 100%;
  }
}

.verif-block__label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 1.5rem;
}
.verif-block__label a {
  color: #447EF7;
  border-bottom: 1px solid #447EF7;
}
.verif-block__label a:hover {
  border-bottom: 0;
}
@media (max-width: 650px) {
  .verif-block__label {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .verif-block__label {
    font-size: 0.9rem;
  }
}

.verif-block__btn {
  transition: all 0.3s ease 0s;
  -webkit-clip-path: polygon(0% 16%, 2.5% 16%, 2.55% 8%, 5% 8%, 5% 0%, 95% 0%, 95% 8%, 97.5% 8%, 97.5% 16%, 100% 16%, 100% 84%, 97.5% 84%, 97.5% 92%, 95% 92%, 95% 100%, 5% 100%, 5% 92%, 2.5% 92%, 2.5% 84%, 0% 84%);
          clip-path: polygon(0% 16%, 2.5% 16%, 2.55% 8%, 5% 8%, 5% 0%, 95% 0%, 95% 8%, 97.5% 8%, 97.5% 16%, 100% 16%, 100% 84%, 97.5% 84%, 97.5% 92%, 95% 92%, 95% 100%, 5% 100%, 5% 92%, 2.5% 92%, 2.5% 84%, 0% 84%);
  background: rgba(30, 34, 52, 0.65);
  min-height: 6.6rem;
  width: 100%;
}

.verif-block__btn {
  display: flex;
  align-items: center;
  padding: 6px;
}

.verif-block__btn-flag {
  margin-right: 1rem;
}

.verif-block__btn-suptitle {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #FFFFFF;
  opacity: 0.35;
}

.verif-block__btn-subtitle {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #FFFFFF;
}

.verif-block__checkboxes {
  margin: 2.5rem 0 3.9rem;
}

.verif-block__checkboxes-inner {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: space-between;
}
@media (max-width: 1431px) {
  .verif-block__checkboxes-inner {
    flex-wrap: wrap;
  }
}

.verif-block__checkbox {
  font-weight: 700;
  font-size: 1.4rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 25%;
}
@media (max-width: 1431px) {
  .verif-block__checkbox {
    width: 50%;
    margin-bottom: 1rem;
  }
}

.verif-block__checkbox-icon {
  margin-right: 1rem;
}

.verif-block__info-list li {
  display: flex;
  align-items: center;
}

.verif-block__info-icon {
  margin-right: 1rem;
}

.verif-block__info-photo {
  margin-left: 1rem;
  height: 1rem;
}

.verif-block__info-text {
  font-size: 1.4rem;
  line-height: 214%;
  color: #99A3C9;
}
@media (max-width: 480px) {
  .verif-block__info-text {
    font-size: 1.1rem;
  }
}
.verif-block__info-text span {
  position: relative;
}
.verif-block__info-text span:after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url("/assets/img/verif/list-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0.5rem;
  right: -3rem;
}

.verif-block__photos {
  display: flex;
  justify-content: space-between;
  margin-top: 2.6rem;
  margin-bottom: 3.1rem;
}
@media (max-width: 480px) {
  .verif-block__photos {
    flex-wrap: wrap;
  }
}

.verif-block__photo {
  margin-right: 3rem;
}
.verif-block__photo img {
  mix-blend-mode: luminosity;
  width: 100%;
}
@media (max-width: 480px) {
  .verif-block__photo {
    word-wrap: 100%;
    max-width: 350px;
    margin: 0 auto 2rem;
  }
}

.verif-block__load {
  -webkit-clip-path: polygon(0% 16%, 2.5% 16%, 2.55% 8%, 5% 8%, 5% 0%, 95% 0%, 95% 8%, 97.5% 8%, 97.5% 16%, 100% 16%, 100% 84%, 97.5% 84%, 97.5% 92%, 95% 92%, 95% 100%, 5% 100%, 5% 92%, 2.5% 92%, 2.5% 84%, 0% 84%);
          clip-path: polygon(0% 16%, 2.5% 16%, 2.55% 8%, 5% 8%, 5% 0%, 95% 0%, 95% 8%, 97.5% 8%, 97.5% 16%, 100% 16%, 100% 84%, 97.5% 84%, 97.5% 92%, 95% 92%, 95% 100%, 5% 100%, 5% 92%, 2.5% 92%, 2.5% 84%, 0% 84%);
  background-color: #171A2B;
  width: 100%;
  padding: 3rem;
  display: flex;
  min-height: 30rem;
  align-items: center;
  margin-bottom: 2.1rem;
}
@media (max-width: 992px) {
  .verif-block__load {
    flex-wrap: wrap;
  }
}

.verif-block__load-item {
  border-left: 1px solid #282B42;
  width: 50%;
  text-align: center;
  padding: 0 3rem;
}
.verif-block__load-item:first-child {
  border-left: 0;
}
@media (max-width: 992px) {
  .verif-block__load-item {
    width: 100%;
    margin-bottom: 3rem;
    border-left: 0;
  }
}

.verif-block__load-text {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
  margin-top: 2rem;
}

.verif-block__load-item-star {
  font-size: 2.2rem;
  text-align: center;
  color: #FF5656;
  margin-top: 1rem;
}

.verif-block__photo {
  max-width: 14rem;
  margin: 0 auto;
}
.verif-block__photo--small {
  max-width: 10rem;
  margin-bottom: 1.8rem;
}
@media (max-width: 480px) {
  .verif-block__photo {
    max-width: 10rem;
  }
}

.profile__right-btn {
  margin-top: 2.8rem;
}
.profile__right-btn button {
  display: flex;
  align-items: center;
}

.btn__icon {
  margin-left: 1rem;
  height: 1.5rem;
}

.verif-block__photo svg {
  width: 10rem;
  height: 10rem;
}
@media (max-width: 480px) {
  .verif-block__photo {
    text-align: center;
  }
  .verif-block__photo svg {
    width: 7rem;
    height: 7rem;
  }
}