.clients {
    margin-top: 3.4rem;
}
.clients__container {
    max-width: 68.2rem;
}
.clients__suptitle {
    font-size: 14px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 2.7rem;
}
.clients__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        justify-content: center;
        flex-wrap: wrap;
    }
}
.clients__item {
    @media (max-width: 768px) {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}