.header {
    padding: 3.2rem 0;

    @media (max-width: 480px) {
        padding: 1.8rem 0;
    }
}
.header__container {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}
.header__logo {
    position: relative;
}
.header__logo-img {
    svg {
        width: 11.3rem;
        height: 4.4rem;
    }
}
.header__logo-text {
    position: absolute;
    left: auto;
    top: 0;
    right: -32px;
    bottom: auto;
    
    display: inline;
    padding: 4px;
    color: #50faab;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;

    @media (max-width: 480px) {
        display: none;
    }
}
.header__btn {
    color: #50faab;
    font-size: 1.5rem;
    font-weight: 500;
}