.header {
    position: relative;
    z-index: 1000;

    @media (max-width: 480px) {
        padding-top: 3rem;
    }
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    @media (max-width: 480px) {
        width: 9rem;

        img {
            width: 100%;    
        }
    }
}
.header__right {
    display: flex;
    align-items: center;
}
.header__right-item {
    margin-right: 4rem;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 480px) {
        margin-right: 2rem;
    }
}
.header__lang {
}
.header__lang-item {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 483%;
    color: #B4B9C6;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
.header__btn {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: calc(16 / 12);
    color: #B4B9C6;

    &--in {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
.header__btn--up {
    border: 1px solid #B4B9C6;
    border-radius: .3rem;
    min-height: 3.5rem;
    padding: 0 2.3rem;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background-color: darken(#B4B9C6, 2%);
        color: #000;
    }

    @media (max-width: 480px) {
        padding: 0 1.5rem;
    }
}