.info {
    position: relative;
    overflow: hidden;
}
.info__decor {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 2398px;
    height: 1748px;
    margin-left: 26%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("https://assets.website-files.com/626af49a6fb9e45c9a5db186/626af49a6fb9e40a8c5db1a7_Circles%20of%20footer.svg");
    background-position: 0 0;
    background-size: auto;
    background-repeat: no-repeat;
}
.info__container {
}
.info__inner {
}
.info__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.6rem;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(2) {
        flex-direction: row-reverse;
    }

    @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.info__content {
    max-width: 50rem;

    @media (max-width: 992px) {
        width: 100%;
    } 
}
.info__title {
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;

    margin-bottom: 2.4rem;

    @media (max-width: 992px) {
        font-size: 2.5rem;
    }
}
.info__text {
    margin-bottom: 40px;
    color: #b3b2b8;
    font-size: 1.6rem;

    @media (max-width: 992px) {
        font-size: 1.4rem;
    }
}
.info__body {
    @media (max-width: 992px) {
        display: flex;
        max-width: 300px;
        margin: auto;
        justify-content: space-between;
    }
}
.info__body-item {
    display: flex;
    align-items: center;

    margin-bottom: 1.5rem;

    @media (max-width: 992px) {
        flex-direction: column;
        min-height: 10rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.info__body-icon {
    width: 4rem;
    margin-right: 2rem;

    img {
        width: 100%;
    }

    @media (max-width: 992px) {
        margin-bottom: 3rem;
        margin-right: 0;
        height: 4rem;
    }
}
.info__body-text {
    color: #d1d1d5;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .15px;
}
.info__photo {
    width: 600px;

    @media (max-width: 992px) {
        width: 100%;
        margin-top: -7rem;
    }
}