.intro {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #091D3B;
    position: relative;
    overflow: hidden;
}
.intro__container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
.intro__content {
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 40rem;
        margin: auto;
    }
}
.intro__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: #FFFFFF;

    margin-bottom: 2.7rem;

    @media (max-width: 992px) {
        font-size: 2.5rem;
    }

    @media (max-width: 768px) {
        margin-bottom: 2.4rem;
    }
}
.intro__list {
    margin-bottom: 2.7rem;
    li {
        font-size: 1.6rem;
        line-height: 140%;
        color: #FFFFFF;

        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 992px) {
            font-size: 1.4rem;
        }
    }
}
.intro__btn-white {
    max-width: 307px;
    margin: auto;
    margin-bottom: 1.6rem;

    button {
        width: 100%;
    }
}
.intro__btn {
    max-width: 307px;

    button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 768px) {
        margin: auto;
    }
}
.btn {
}
.btn__icon {
    margin-right: 2rem;
    height: 2rem;
}
.btn__text {
}
.intro__photo {
    width: 50%;
    position: relative;

    @media (max-width: 768px) {
        display: none;
    }
}
.intro__img {
    img {
        width: 100%;
    }
}
.intro__decors {
}
.intro__decor-1 {
}
.intro__decor-content {
}
.intro__decor-author {
    display: flex;
    align-items: center;
}
.intro__decor-preview {
    margin-right: 8px;
}
.intro__decor-name {
    font-size: 1.2rem;
    line-height: 140%;
    color: #FFFFFF;
}
.intro__decor-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro__decor-kind {

}
.intro__decor-1 {
    position: absolute;
    bottom: -20%;
    left: -15%;
    width: 50%;
    height: 100%;
    svg {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 768px) {
    }
}
.intro__decor-2 {
    position: absolute;
    top: -17%;
    right: -5%;
    width: 50%;
    height: 70%;
    svg {
        width: 100%;
        height: 100%;
    }
}
.intro__decor-3 {
    position: absolute;
    bottom: -30%;
    right: 0%;
    width: 40%;
    height: 80%;
    svg {
        width: 100%;
        height: 100%;
    }
}
.intro__decor-cost {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
    text-align: right;
    color: #FFFFFF;
}
.intro__line {


    svg {
        width: 100%;
        height: 100%;
    }
}
.intro__img {

}
.intro__bg-decor {
    background-color: #2269EF;
    width: 25%;
    height: 200%;

    position: absolute;
    top: -20%;
    right: 20%;
    transform: rotate(20deg);

    @media (max-width: 992px) {
        width: 40%;
    }

    @media (max-width: 768px) {
        display: none;
    }
}
.intro__socials {
    position: absolute;
    bottom: 2rem;
    right: 0;

    @media (max-width: 768px) {
        display: flex;
        position: static;
        background: #FFFFFF;
        border-radius: 4px;
        max-width: 40rem;
        margin: auto;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 4rem;
        padding: 1.7rem 0;
    }
}
.intro__social {
    display: block;
    margin-bottom: 2rem;
    transition: all .2s linear;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        margin-bottom: 0;
    }

    &:hover {
        transform: scale(1.1);
    }
}
.intro__button {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;

    min-height: 4.3rem;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 0 2.7rem;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}