.map {
    margin: 4rem auto 4.1rem;
    max-width: 120rem;
}
.map__container {
    max-width: 109rem;
    margin-right: auto;
    padding: 0 1.5rem;
    border-radius: 2.4rem;
    iframe {
        width: 100%;
        height: 49rem;
        border-radius: 2.4rem;
    }

    @media (max-width: 550px) {
        iframe {
            height: 30rem;
        }
    }
}