.photo {
    margin-top: 13rem;

    @media (max-width: 480px) {
        margin-top: 0;
    }
}
.photo__container {
    position: relative;
}
.photo__image {
    text-align: center;
    width: 100%;
    max-width: 53rem;
    margin: auto;

    img {
        width: 100%;
    }

    @media (max-width: 480px) {
        max-width: 20rem;
    }
}
.photo__decor-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;

    img {
        width: 100%;
    }
}