.politicy {
    margin-top: 10rem;
    margin-bottom: 10rem;

    @media (max-width: $mobile) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}
.politicy__container {
    color: #7A7A7A;
}
.politicy__title {
    font-size: 1.9rem;
    font-family: Times New Roman, serif;
    margin-bottom: 3rem;
}
.politicy__inner {
    font-size: 1.8rem;
}
.politicy__item {
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }
}
.politicy__suptitle {
    margin-bottom: 1rem;
    font-weight: 700;
}
.politicy__list {
    line-height: 1.7;

    li {
        a {
            color: $red;
        }
    }
}