.product {
    margin-top: 8.8rem;
}
.product__container {
}
.product__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.6rem;
}
.product__col {
    flex: 0 1 25%;
    padding: 0 1.6rem;
    margin-bottom: 3.2rem;

    @media (max-width: 860px) {
        flex: 0 1 33.333%;
    }

    @media (max-width: 600px) {
        flex: 0 1 50%;
    }
}
.product__item {
    position: relative;
}
.product__item-bg {
    img {
        width: 100%;
    }
}
.product__item-info {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;

    @media (max-width: 768px) {
        width: 5.9rem;

        img {
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        top: 0.8rem;
        left: 0.8rem;
        width: 4.6rem;
    }
}
.product__item-kind {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #161314;

    min-height: 2.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border-radius: 40px;
    padding: 0 1.6rem;

    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;

    @media (max-width: 1086px) {
        font-size: 1.2rem;
    }

    @media (max-width: 954px) {
        left: 1rem;
        font-size: 1rem;
        bottom: 1rem;
    }

    @media (max-width: 860px) {
        font-size: 1.2rem;
    }

    @media (max-width: 600px) {
        font-size: 1rem;
        padding: 0 .8rem;
    }
}
.product__item-title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 133%;
    color: #FFFFFF;

    position: absolute;
    bottom: 1.6rem;
    left: 3.2rem;
    width: 80%;

    @media (max-width: 1086px) {
        font-size: 1.6rem;
    }

    @media (max-width: 954px) {
        left: 1rem;
        bottom: 1rem;
    }

    @media (max-width: 600px) {
        font-size: 1.4rem;
    }
}