.structure {
    margin-top: 10rem;
}
.structure__container {
}
.structure__inner {
    margin-top: 3.5rem;
}
.structure__item {
    margin-bottom: 2rem;
}
.structure__header {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: calc(21 / 18);
    text-transform: uppercase;
    color: #253434;

    background: rgba(75, 152, 154, 0.5);

    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.4rem;
    padding-right: 1rem;

    cursor: pointer;
    transition: all .2s linear;
    
    &.active {
        background: #0F7173;
        color: #fff;
        font-weight: 700;
    }

    @media (max-width: 550px) {
        font-size: 1.6rem;
    }

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}
.structure__body {
    display: none;
}
.structure__block {
    display: flex;
    align-items: center;
    background: rgba(217, 217, 217, 0.3);

    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
}
.structure__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding-left: 2.4rem;

    margin-right: 1.5rem;

    @media (max-width: 1024px) {
        width: 100%;
        padding-top: 2rem;
    }
}
.structure__text {
    font-size: 1.4rem;
    line-height: 129%;
    color: #253434;

    p {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.structure__link {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #EF8354;
    display: block;
    margin-top: 3rem;

    @media (max-width: 480px) {
        font-size: 1.6rem;
    }
}
.structure__photo {
    width: 50%;

    img {
        width: 100%;
    }

    @media (max-width: 1024px) {
        width: 100%;
        max-width: 50rem;
        margin: 2rem auto 0;
        padding-bottom: 2rem;
    }
}