.title {
    text-align: center;
    max-width: 75rem;
    margin: 13.6rem auto 13.6rem;
    padding: 0 4rem;

    font-size: 4rem;
    line-height: 3rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;

    @media (max-width: 480px) {
        font-size: 2.5rem;
    }
}